input, textarea {
  font: inherit;
  border: none;
  padding: 0;
  color: #333; }
  input.full, textarea.full {
    width: 100%; }

textarea {
  width: 100%;
  height: 175px; }

label {
  color: #777; }

input.search {
  width: 510px;
  padding: 5px 7px 4px;
  margin: 8px 0;
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0; }
  input.search:focus {
    border-color: #4d90fe; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font: 13px/1.2 sans-serif;
  color: #333; }

h1 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1; }

a {
  cursor: pointer; }

#header {
  background: #f1f1f1;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 15px;
  overflow: hidden; }

#sub-header {
  padding: 8px 15px 8px 185px;
  border-bottom: 1px solid #e5e5e5;
  height: 30px; }

.btn, .split-btn {
  float: left;
  background: -webkit-linear-gradient(#F5F5F5, #F1F1F1);
  background: linear-gradient(#F5F5F5, #F1F1F1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #444;
  border-radius: 2px;
  position: relative;
  padding: 5px 20px;
  margin-right: 10px; }
  .btn img, .split-btn img {
    vertical-align: middle;
    opacity: 0.5; }

.btn:hover {
  background: -webkit-linear-gradient(#F8F8F8, #F5F5F5);
  background: linear-gradient(#F8F8F8, #F5F5F5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
  .btn:hover img {
    opacity: 1; }

.split-btn {
  padding: 0; }
  .split-btn .btn {
    border-width: 0 1px 0 0;
    margin: 0;
    border-radius: 0;
    background: transparent; }
    .split-btn .btn:last-child {
      border: none; }

.primary-btn {
  background: -webkit-linear-gradient(#4D90FE, #4787ED);
  background: linear-gradient(#4D90FE, #4787ED);
  border: 1px solid #3079ED;
  color: #fff;
  border-radius: 2px;
  cursor: default;
  font-size: 12px;
  font-weight: bold;
  height: 29px;
  line-height: 27px;
  margin-right: 16px;
  min-width: 54px;
  outline: none;
  padding: 0 8px;
  text-align: center;
  white-space: nowrap; }
  .primary-btn:hover {
    background-color: #357AE8;
    background-image: -webkit-linear-gradient(#4D90FE, #357AE8);
    background-image: linear-gradient(#4D90FE, #357AE8);
    border: 1px solid #2F5BB7;
    box-shadow: none; }
  .primary-btn:active {
    background: #357AE8;
    border: 1px solid #2F5BB7;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); }

.check {
  float: left;
  height: 11px;
  width: 11px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(155, 155, 155, 0.57);
  margin: 1px 10px 0 0;
  position: relative; }
  .check:hover {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1); }
  .selected .check {
    background: rgba(255, 255, 255, 0.7); }
    .selected .check:after {
      content: '';
      position: absolute;
      background: url("/assets/icons/checkmark.png");
      height: 21px;
      width: 21px;
      top: -5px;
      left: -5px; }

.select-group .trigger {
  float: left; }
.select-group ul {
  position: absolute;
  z-index: 2;
  top: -9999px;
  left: 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 5px 0; }
  .select-group ul a {
    display: block;
    padding: 3px 20px;
    color: #333;
    text-decoration: none;
    line-height: 1; }
    .select-group ul a:hover {
      background: #eee; }
.select-group.active ul {
  top: 100%; }

.paging {
  float: right;
  line-height: 32px; }

#logo, #nav {
  float: left;
  width: 150px;
  margin-right: 20px; }

#logo img {
  display: block; }

#nav {
  margin: 10px 20px 15px 15px; }
  #nav ul {
    margin-left: -15px; }
  #nav a {
    display: block;
    padding: 3px 3px 3px 12px;
    text-decoration: none;
    border-left: 3px solid #fff;
    color: inherit; }
    #nav a:hover {
      background: #e5e5e5;
      border-left-color: #e5e5e5; }
    #nav a.active {
      border-left-color: #D14836;
      color: #D14836;
      font-weight: bold; }
    #nav a.compose {
      width: 100px;
      padding: 8px 10px 7px;
      margin-bottom: 15px;
      background: #D14836;
      background: -webkit-linear-gradient(#d6594b, #D14836);
      background: linear-gradient(#d6594b, #D14836);
      border: none;
      color: #fff;
      text-align: center;
      font-size: 11px;
      font-weight: bold;
      border-radius: 2px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
      #nav a.compose:hover {
        background: -webkit-linear-gradient(#c13b2c, #ad3527);
        background: linear-gradient(#c13b2c, #ad3527); }

#content {
  overflow: auto;
  overflow-x: hidden;
  margin-left: 185px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0; }

#inbox, #thread {
  border-top: 1px solid #e5e5e5;
  margin-top: 10px; }
  #inbox li, #thread li {
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    white-space: nowrap;
    padding: 5px 0 5px 10px; }
    #inbox li.selected, #thread li.selected {
      background: #ffc; }
      #inbox li.selected time, #thread li.selected time {
        background: #ffc; }
  #inbox time, #thread time {
    float: right;
    width: 55px;
    text-align: right;
    padding: 0 20px;
    background: #f5f5f5;
    position: relative; }
  #inbox .name, #thread .name {
    float: left;
    width: 180px; }
  #inbox .body, #thread .body {
    color: #777; }
  #inbox a, #thread a {
    color: inherit;
    text-decoration: none; }

#thread {
  border-top: 1px solid #e5e5e5; }
  #thread li {
    white-space: nowrap;
    padding: 9px 9px 9px 37px;
    padding-right: 10px; }
    #thread li time {
      margin-right: -20px;
      padding-right: 20px; }
    #thread li.active {
      background: #fff;
      white-space: normal; }
      #thread li.active .to {
        clear: both; }
      #thread li.active time {
        width: auto;
        background: inherit;
        padding: 0;
        margin: 0; }
    #thread li > img {
      float: left;
      margin-left: -31px;
      height: 24px;
      margin-right: 7px;
      margin-top: -4px; }
  #thread .from {
    float: left;
    margin-right: 5px; }
  #thread .to {
    color: #777;
    padding: 0 0 10px; }
  #thread .body {
    color: #222; }

#compose {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 510px; }
  #compose .header {
    background: #404040;
    border-color: #404040; }
    #compose .header .close {
      float: right;
      color: #b2b2b2;
      font: 16px/28px Helvetica;
      height: 28px;
      width: 28px;
      margin-top: -6px;
      margin-right: -6px;
      text-align: center;
      text-decoration: none; }
      #compose .header .close:hover {
        color: #fff;
        background: #737373; }
    #compose .header h2 {
      font: inherit;
      color: #fff;
      margin: 0; }
  #compose > div {
    border: 1px solid #CFCFCF;
    border-bottom: none;
    padding: 10px; }
  #compose .footer {
    background: #F5F5F5; }
