<ul id="threads">
  <li ng-repeat="thread in threads | filter : query" ng-class="{ unread: thread.unread, selected: thread.selected }">
    <a href="#/threads/{{ thread.id }}">
      <time>{{ thread.last_message.created_at | smartDate }}</time>
      <span class="check" ng-click="thread.selected = !thread.selected" stop-event></span>
      <span class="people">
        <span ng-repeat="person in thread.participants">
          <span class="name" ng-class="{ unread: person.unread }">{{ person | smartName : thread.message_count == 1 }}</span>{{ $last ? '': ', ' }}
        </span>
        <span ng-show="thread.message_count > 1">({{ thread.message_count }})</span>
      </span>
      <span class="subject">{{ thread.last_message.subject }}</span>
      <span class="body">- {{ thread.last_message.snippet }}</span>
    </a>
  </li>
</ul>