<!DOCTYPE html>
<html lang="en" ng-app="nGmail">
<head>
  <title>nGmail</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/app.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<div id="wrapper" ng-controller="ThreadsController">
  <div id="header">
    <span id="logo"><img src="images/logo.png"></span>
    <drop-down class="drop-down account-nav">
      <img class="avatar" src="images/avatars/me.jpg">
      <ul class="align-right">
        <li><a href>Mark Brown &lt;markbrown4@gmail.com&gt;</a></li>
        <li><a href>Mark Brown &lt;mark@inspire9.com&gt;</a></li>
        <li><a href>Mark Brown &lt;mark@adioso.com&gt;</a></li>
      </ul>
    </drop-down>
    <form class="search">
      <input name="query" ng-model="query">
      <button type="submit" class="primary-btn">
        <span class="icon-search"></span>
      </button>
    </form>
  </div>
  <div id="sub-header">
    <h1 class="app-name"><span>n</span>Gmail</h1>
    <div class="paging">
      <strong>{{ page.from == page.to ? page.from : page.from + '-'+ page.to }}</strong>
      of
      <strong>{{ page.count }}</strong>
      <div class="split-btn">
        <a href class="btn btn-mini" title="Previous" ng-class="{ inactive: page.from == 1 }"><img src="images/icons/prev.png"></a>
        <a href class="btn btn-mini" title="Next" ng-class="{ inactive: page.to == page.count }"><img src="images/icons/next.png"></a>
      </div>
    </div>
    <a href="#/inbox" class="btn" title="Back to Inbox" ng-hide="isRouteActive('/inbox')"><img src="images/icons/back.png"></a>
    <drop-down class="drop-down btn" ng-show="isRouteActive('/inbox')">
      <a href class="check" ng-click="selectToggle()" ng-class="{ 'all-selected': allSelected(), 'some-selected': someSelected() }" stop-event></a>
      <img src="images/icons/down.png">
      <ul>
        <li><a href ng-click="selectAll()">All</a></li>
        <li><a href ng-click="selectNone()">None</a></li>
        <li><a href ng-click="selectRead()">Read</a></li>
        <li><a href ng-click="selectUnread()">Unread</a></li>
      </ul>
    </drop-down>
    <div class="split-btn" ng-show="someSelected() || !isRouteActive('/inbox')">
      <a href class="btn" title="Archive"><img src="images/icons/archive.png"></a>
      <a href class="btn" title="Report Spam"><img src="images/icons/spam.png"></a>
      <a href class="btn" title="Delete"><img src="images/icons/delete.png"></a>
    </div>
    <a href class="btn" ng-show="isRouteActive('/inbox') && noneSelected()"><img src="images/icons/refresh.png"></a>
  </div>
  <div id="nav">
    <a href class="compose" ng-click="newMessage.composing = true">COMPOSE</a>
    <ul>
      <li class="active"><a href="#/inbox">Inbox</a></li>
      <li><a href="#/sent">Sent Mail</a></li>
      <li><a href="#/drafts">Drafts</a></li>
      <li><a href="#/trash">Trash</a></li>
    </ul>
  </div>
  <div id="content" ng-view></div>
</div>
<div id="compose" ng-controller="NewMessageController" ng-show="newMessage.composing">
  <div class="header">
    <a class="close" ng-click="newMessage.composing = false">&times;</a>
    <h2>New Message</h2>
  </div>
  <div>
    <input placeholder="Recipients" name="recipients" class="full">
    <div class="input">
      <label>To</label>
      <div class="fit">
        <input name="to" class="full">
      </div>
    </div>
    <div class="input">
      <label>Cc</label>
      <div class="fit">
        <input name="cc" class="full">
      </div>
    </div>
    <div class="input">
      <label>Bcc</label>
      <div class="fit">
        <input name="ccc" class="full">
      </div>
    </div>
    <div>
      <label>From</label>
      <a href class="bcc">Bcc</a>
      <a href class="cc">Cc</a>
      <drop-down class="drop-down from-address">
        <span>Mark Brown &lt;markbrown4@gmail.com&gt;</span>
        <img src="images/icons/down.png">
        <ul class="align-right">
          <li><a href>Mark Brown &lt;markbrown4@gmail.com&gt;</a></li>
          <li><a href>Mark Brown &lt;mark@inspire9.com&gt;</a></li>
          <li><a href>Mark Brown &lt;mark@adioso.com&gt;</a></li>
        </ul>
      </drop-down>
    </div>
  </div>
  <div>
    <input name="subject" placeholder="Subject" class="full">
  </div>
  <div>
    <textarea name="body" placeholder="Body"></textarea>
  </div>
  <div class="footer">
    <input type="submit" value="Send" class="btn primary-btn">
  </div>
</div>
<div class="flash">
  <div class="inner">Sending...</div>
</div>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="js/filters.js"></script>
<script src="js/modules.js"></script>
<script src="js/services.js"></script>
<script>
window.currentUser = {
  email: 'markbrown4@gmail.com',
  first_name: 'Mark',
  last_name: 'Brown',
  avatar: 'me.jpg'
}
</script>
</body>
</html>